# ingnore all
*

# gitignore
!.gitignore

# Makefile
!Makefile

# Utils
!utils/
!utils/*
!utils/functions/
!utils/functions/*

# Tests
!tests/
!tests/*

# Tests: fPCA
!tests/FPCA/
!tests/FPCA/*
!tests/FPCA/scripts/
!tests/FPCA/scripts/*
!tests/FPCA/scripts/functions/
!tests/FPCA/scripts/functions/*

# Tests: FRPDE
!tests/FRPDE/
!tests/FRPDE/*
!tests/FRPDE/scripts/
!tests/FRPDE/scripts/*
!tests/FRPDE/scripts/functions/
!tests/FRPDE/scripts/functions/*


# 
!examples_and_tests/
!examples_and_tests/PLS/
!examples_and_tests/PLS/*
!examples_and_tests/FPLSR/
!examples_and_tests/FPLSR/*
!examples_and_tests/FPLSR/scripts/*
!examples_and_tests/FPLSR/scripts/functions/*

# Projects
!projects/

# Projects: Pipe
!projects/pipe/
!projects/pipe/*
!projects/pipe/scripts/
!projects/pipe/scripts/*
!projects/pipe/scripts/functions/
!projects/pipe/scripts/functions/*

# Projects: Transcriptomics
!projects/transcriptomics/
!projects/transcriptomics/*
!projects/transcriptomics/scripts/
!projects/transcriptomics/scripts/*
!projects/transcriptomics/scripts/functions/
!projects/transcriptomics/scripts/functions/*

# Formats to be avoided
*.RData
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
.Rhistory