# ingnore all
*

# gitignore
!.gitignore

# Makefile
!Makefile

# Utils
!utils/
!utils/*
!utils/functions/
!utils/functions/*

# Tests
!tests/
!tests/*

# Tests: fPCA
!tests/FPCA/
!tests/FPCA/*
!tests/FPCA/scripts/
!tests/FPCA/scripts/*

# Tests: fSRPDE
!tests/FSRPDE/
!tests/FSRPDE/*
!tests/FSRPDE/scripts/
!tests/FSRPDE/scripts/*
!tests/FSRPDE/scripts/functions/
!tests/FSRPDE/scripts/functions/*


# 
!examples_and_tests/
!examples_and_tests/PLS/
!examples_and_tests/PLS/*
!examples_and_tests/FPLSR/
!examples_and_tests/FPLSR/*
!examples_and_tests/FPLSR/scripts/*
!examples_and_tests/FPLSR/scripts/functions/*


# Transcriptomics
!transcriptomics/
!transcriptomics/*
# !transcriptomics/data/
# !transcriptomics/data/*
# !transcriptomics/data/DLPFC/
# !transcriptomics/data/DLPFC/*
# !transcriptomics/data/masks/
# !transcriptomics/data/masks/*
!transcriptomics/scripts/
!transcriptomics/scripts/*
!transcriptomics/scripts/functions/
!transcriptomics/scripts/functions/*

# Pipe
!pipe/
!pipe/*
!pipe/scripts/
!pipe/scripts/*
!pipe/data/
!pipe/data/*


# Formats to be avoided
*.RData
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
.Rhistory