# ingnore all
*

# gitignore
!.gitignore

# Examples and tests
!examples_and_tests/
!examples_and_tests/PLS/
!examples_and_tests/PLS/*
!examples_and_tests/
!examples_and_tests/FSRPDE/
!examples_and_tests/FSRPDE/*
!examples_and_tests/FPLSR/
!examples_and_tests/FPLSR/*
!examples_and_tests/FPLSR/scripts/*
!examples_and_tests/FPLSR/scripts/functions/*

# Formats to be avoided
*.RData
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
.Rhistory